<h1>SapConn#load</h1>
<p>Find me in app/views/sap_conn/load.html.erb</p>

<p><%# @sap_param.get_string("ECHOTEXT") %></p>
<p><%# @sap_param.get_string("RESPTEXT") %></p>

<ul>
	<li></li>
	<li></li>
	<li></li>
</ul>
