<script>
// $(function() {
//     //caches a jQuery object containing the header element
//     var header = $(".clearHeader");
//     $(window).scroll(function() {
//         var scroll = $(window).scrollTop();

//         if (scroll >= 100) {
//             header.removeClass('clearHeader').addClass("darkHeader");
//         } else {
//             header.removeClass("darkHeader").addClass('clearHeader');
//         }
//     });
// });
</script>

<style>
.clearHeader{
    height: 200px; 
}    

.darkHeader { 
  height: 100px; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;  
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15); 
}

.wrapper {
    height:2000px;
}

#RN {
  /*color: #FFE4C4;*/
  /*color: #00147E  ;*/
  /*color: #008B8B  ;*/
  color: #FFF;
  text-shadow: 3px 3px 5px #000000;
  font-size: 3.5em;
  font-weight: bolder;
}

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@-webkit-keyframes fade {
  0%,
  100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0; }
  50% {
    opacity: 1; } 
}

.fade {
  animation: fade 6s infinite;
  fill: #55bbeb;
  background: #55bbeb;
  background: -moz-linear-gradient(90deg, #55bbeb 0%, #84c450 100%);
  background: -webkit-linear-gradient(90deg, #55bbeb 0%, #84c450 100%);
  background: -o-linear-gradient(90deg, #55bbeb 0%, #84c450 100%);
  background: -ms-linear-gradient(90deg, #55bbeb 0%, #84c450 100%);
  background: linear-gradient(90deg, #55bbeb 0%, #84c450 100%); 
}
/*
.navbar {
  padding: 40px 65px 20px 85px;
}*/

</style>
<header>
<nav id="ha-header" class="ha-header ha-header-large">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="tooltiptext">Rog&eacute;rio Nascimento</span>
  </button>
  <a class="navbar-brand" id="RN" href="#">Rog&eacute;rio</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</header>